<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<%- include("_partials/head") %>
<body>
  <%- include("_partials/page-title", { pageTitle: 'Home Page', shouldRender: true }) %>
  <div class="container">
    <p> This is a paragraph of text. Yay! </p>
  </div>
</body>
</html>
