body {
  background: blue;
}

p {
  color: orange;
}

div {
  border: 2px solid red;
}

.apple {
  text-decoration: underline;
}

.orange {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sun,
#moon {
  background: white;
}
